<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="./../style/new.css">
<link rel="stylesheet" type="text/css" href="../style/main.css">
<link rel="stylesheet" type="text/css" href="../style/recent.css">
<link rel="stylesheet" type="text/css" href="../style/uplift.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<style>
    #map {
      height: 100%;
    }
 </style>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/recent">Recent Events</a>
    <a href="/live_stock" class="active">Live Reports</a>
    <a href="/uplift">Disaster Uplift</a>
    <a href="/statistics">Statistics</a>
    <a href="/guid">Guidelines</a>
</div>

<div class="topnav" id="myTopnav">
  <a href="/">
    <img src="./../images/logo.png" style="width: 15px;">
  </a>
  <div id="imp">
  <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal" style="background-color: black;">
    <i class="fa fa-commenting" aria-hidden="true" style="color: white;margin-top: 8px;"></i>
  </button>
  <a href="/emergency">Emergency</a>
  </div>
  </a>
</div>

<div id="main">
  <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>

<div class="container-fluid">
	<center><h1><u>Live Disaster Reports</u></h1></center><br>
					
	<div class="col-md-3">

		<center><h3>Live Search</h3></center>

		<!-- Search Box -->
		<section class="search1">
			<table class="table" style="background: #ABB2B9;">
				<form action="/Namesearch" method="post">
					<tr class="input">
						<td>
							<input placeholder="Search By Name...." class="form-control" style="width: 100%; border-radius:10px;" type="text" id="searchbar" name="searchbar">
						</td>
						<td style="width: 10px;">
							<button class="btn" style="background:none;color: black;width: 100%;" id="search" type="submit">
							<i class="fa fa-search" aria-hidden="true" style="font-size: 1.8em;"></i></button>
						</td>
						</tr>
				</form>
			</table>
		</section>

		<% if(total_results){ %>

		<% for (var i = 0; i < total_results; i++) { %>
		<section class="display_results">
			<table class="table">
				<tr>
					<td style="background-color: #ABB2B9; color: black;text-align: center;"><i class="fa fa-user-circle-o" aria-hidden="true" style="color: black;"></i> Victim_Name</td>
					<td style="background-color: white;color: black;text-align: center;"><%= Victim[i] %></td>
				</tr>
				<tr>
					<td style="background-color: #ABB2B9;color: black;text-align: center;"><i class="fa fa-globe" aria-hidden="true" style="color: black"></i> Disaster Suffering</td>
					<td style="background-color: white;color: black;text-align: center;"><%= Disaster[i] %></td>
				</tr>
				<tr>
					<td style="background-color: #ABB2B9;color: black;text-align: center;"><i class="fa fa-map-marker" aria-hidden="true" style="color: black"></i> Location</td>
					<td style="background-color: white;color: black;text-align: center;"><%= Lat[i] %>, <%= Lon[i] %></td>
				</tr>
			</table>
		</section> 
		<% } %>
		<% } %>



		<ul style="display: none;">
			<li id="name"><%= name %></li>
			<li id="phone1"><%= phone1 %></li>
			<li id="phone2"><%= phone2 %></li>
			<li id="disaster"><%= disasters %></li>
			<li id="lat0"><%= lat0 %></li>
			<li id="lon0"><%= lon0 %></li>
			<li id="hey">yo</li>
		</ul>
	</div>
		<div class="col-md-9">
			<center>
				<button class="btn btn-primary" id="remember">Victims In Range</button><br>
				<p id="value_remember" style="color: white;font-size: 20px;"></p>
			</center>
		</div>

	<div class="col-md-9" id="map" style="height: 500px;"></div>
	
</div>

<script type="text/javascript">

    function initMap() {

		let names = [];
		let phone1 = [];
		let phone2 = [];
		let disaster = [];
		let lat0 = [];
		let lon0 = [];


		var temp = $('#name').text();
		names = temp.split(",");
		var temp = $('#phone1').text();
		phone1 = temp.split(",");
		var temp = $('#phone2').text();
		phone2 = temp.split(",");
		var temp = $('#disaster').text();
		disaster = temp.split(",");
		var temp = $('#lat0').text();
		lat0 = temp.split(",");
		var temp = $('#lon0').text();
		lon0 = temp.split(",");



	  	var locations = [];

      	for(var i = 0 ; i < names.length ; i++){
      		var temp2 = {lat: parseFloat(lat0[i]), lng: parseFloat(lon0[i])};
      		locations.push(temp2);
      	}

      	console.log(parseFloat(lon0[i]));



	  	var map = new google.maps.Map(document.getElementById('map'), {
	        zoom: 3,
	        center: {lat: 20.5937, lng: 78.9629}       
   			});

	  	cityCircle = new google.maps.Circle({
				      strokeColor: '#FF0000',
				      strokeOpacity: 0.8,
				      strokeWeight: 2,
				      fillColor: '#FF0000',
				      fillOpacity: 0.35,
				      map: map,
				      center: {lat: 0 ,lng : 0},
				      radius: 50,
				      editable:true,
				      draggable:true,
				      geodesic: true

				    });

	  	var btn = document.getElementById('remember');
        btn.addEventListener('click',function(){
        var center_now = cityCircle.getCenter();
        var k = 0;
        for(var j=0;j<markers.length;j++)
          {
            var a = markers[j].getPosition();
            var b = cityCircle.getRadius();
            var c = google.maps.geometry.spherical.computeDistanceBetween(a,center_now);
            if(c <= b)
            {
              k = k + 1;
            }
          }
          console.log(k);
          document.getElementById('value_remember').innerHTML = k;

        });


        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      	

      	// ------- plotting ends --------------

	  }
      
    </script>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="background-color: rgba(0, 0, 0, 0.9);">
        <center>
          <iframe
            allow="microphone;"
            width="500"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/ed4378bf-d158-4491-a816-7ec59b8b8ac8">
          </iframe>
        </center>
      </div>
    </div>

  </div>
</div>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL5vczsewjFP4BrG9XfOCtDvL_WJkba6I&callback=initMap">
</script>


<script>

function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "rgba(0, 0, 0, 0.9)";
}

</script>
</body>
</html> 